.layout {
  background: #dee7f1;
  min-height: 100vh;
}

.header {
  padding: 0;
  height: fit-content;
  .box-nav {
    display: flex;
    justify-content: space-between;
    background: #0a1832;
    color: #fff;
    padding: 0 20px;
  }

  .box-tools {
    background: #fff;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    line-height: 44px;
    border-bottom: 1px solid #dfdfdf;
  }
}

.content {
  width: 100%;
  padding: 10px;
}




.layout-grid{
	min-height: 100vh;
	box-sizing: border-box;
  background: #dee7f1;

  display: grid;
	grid-auto-rows: 1fr 14fr;
	grid-auto-columns: 1fr 12fr;
}

.sider {
  padding-top: 15px;
  grid-column: 1; /* 在第一欄 */
  grid-row: 1 /span 2;
  position: relative;
  .box-i18n{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
  }
}

.header-white{
  background-color: white;
  grid-column: 2 ; /* 在第二欄 */
  grid-row: 1; /* 在第一行 */

}

.content-grid {
  grid-column: 2 ; /* 在第二欄 */
  grid-row: 2 ; /* 在第二行 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}